/*#region Colors*/
$white: #F2F2F2;
$grey: #BDBDBD;
$black: #262626;

$blue: #205B9D;
$darkblue: #074284;
$green: #219653;
$red: #DB3B4A;

$success: $green;
$error: $red;
/*#endregion*/

/*#region Grid*/
$grid-gutters: 40px;
$grid-col-gap: 20px;
$grid-row-gap: 20px;
$breakpoint-s: 640px + $grid-gutters;
$breakpoint-m: 960px + $grid-gutters;
$breakpoint-l: 1440px + $grid-gutters;
$breakpoint-xl: 1920px + $grid-gutters;
/*#endregion*/

/*#region Typography*/
@mixin font-light() {
	font-family: 'Muli', Verdana, sans-serif;
	font-weight: 200;
}
@mixin font-regular() {
	font-family: 'Muli', Verdana, sans-serif;
	font-weight: 400;
}
@mixin font-bold() {
	font-family: 'Muli', Verdana, sans-serif;
	font-weight: 800;
}
/*#endregion*/

/*#region General*/
$border-radius: 8px;
/**/
